.vertical-timeline-element-content {
  padding: 20px;
}

.vertical-timeline-element-icon {
  width: 25px!important;
  height: 25px!important;
  top: 32px;
  left: 0px;
  margin-left:-12px!important;
}

.vertical-timeline::before {
  background: #ccc;
  width: 4px;
  left: calc(50% - 1px);
}
.custom-icon {
  width: 100%;
  height: 100%;
  background-color: var(--ifm-color-primary);
  border-radius: 50%;
}
.vertical-timeline-element-date{
  font-size: 1.5em!important;
}
@media only screen and (max-width: 1169px){
  .vertical-timeline::before {
    left: calc(0% - 2px)!important;
  }
}